@use "presets" as *;
@use "mixins" as *;

.footer {
  padding-top: $gap * 3;

  color: $color-gray;
  background-color: $color-dark;
  ul {
    padding: 0;

    list-style: none;
  }
  a {
    color: darken($color-light, 55%);
    &:hover {
      color: $color-light;
    }
  }
  &-fifth {
    margin-top: ($gap-md * 2);
    margin-bottom: ($gap-md * 2);

    text-align: center;
    a {
      color: $color-light;
    }
  }
}
